.app {
  margin: 0%;
}

.login-div {
  display: flex;
  flex-direction: column;
}

h4 {
 text-align: center;
}

.login-div > img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

.login-div > form > input {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-text-email {
  margin-bottom: 3%;
}
.login-text-pass {
  margin-bottom: 3%;
}

.login-button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  margin-left: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.login-div > .login-button:hover {
  color: black;
  transform: scale(1.1);
  transition: all 0.5s;
}
