.app {
  margin: 0%;
}

.login-div {
  margin-left: 35%;
  margin-top: 5%;
  width: 30%;
}

.login-text-email {
  margin-bottom: 3%;
}
.login-text-pass {
  margin-bottom: 3%;
}

.login-button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  margin-left: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.login-div > .login-button:hover {
  color: black;
  transform: scale(1.1);
  transition: all 0.5s;
}
