body {
  margin: 0;
  background-color: white;
}

.detailed-info {
  border: 2px solid green;
  padding-top: 0%;
  padding-left: 2%;
  margin-left: 21%;
  width: 85%;
  margin-bottom: 0%;
}

.detailed-info > div {
  display: flex;
  margin-left: initial;
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.button {
  position: absolute;
  background-color: #4caf50;
  border: none;
  font-size: 18px;
  color: #ffffff;
  padding: 15px;
  width: 130px;
  height: 50px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:hover {
  color: black;
  transform: scale(1.1);
  transition: all 0.5s;
}
.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.doctor-details {
  position: relative;
  width: 90%;
  margin-left: 20%;
}

.doctor-details > button {
  position: relative;
  margin-right: inherit;
}

@media all and (max-width: 1200px) {
  .detailed-info {
    border: 2px solid green;
    padding-top: 0%;
    padding-left: 2%;
    margin-left: 30%;
    width: 68%;
    margin-bottom: 0%;
  }
}

@media all and (max-width: 600px) {
  .detailed-info {
    border: 2px solid green;
    padding-top: 0%;
    padding-left: 2%;
    margin-left: 37%;
    width: 68%;
    margin-bottom: 0%;
  }

  .detailed-info > h1 {
    font-size: large;
  }
  .detailed-info > h2 {
    font-size: medium;
  }
  .detailed-name > h2 {
    font-size: medium;
  }
  .detailed-age > h2 {
    font-size: medium;
  }
  .detailed-number > h2 {
    font-size: medium;
  }

  .doctor-appointment > button {
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
  }

  .doctor-details {
    position: relative;
    width: 100%;
    margin-left: 22%;
  }

  .doctor-details > label {
    margin-left: 2%;
  }

  .doctor-details > button {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-right: auto;
  }

  .medicine-label {
    margin-left: 10%;
  }

  .medicine-care {
    margin-left: 10%;
  }
}
