.side-bar {
  position: fixed;
  background-color: azure;
  top: 0;
  left: 0;
  height: 100%;
  width: "100px";
  border: 1px solid green;
  margin-left: 0%;
  padding-left: 0%;
}

.side-bar > h1 {
  position: fixed;
  color: rgb(18, 107, 18);
  font-size: 40px;
  top: 2;
  margin-left: 0.7%;
}

hr {
  margin-top: 45%;
}

.home-icon {
  display: flex;
}

.home-icon > h2 {
  margin-left: 4%;
  color: black;
}
.MuiSvgIcon-root {
  margin: 2%;
  color: black;
}
.MuiSvgIcon-root:hover {
  color: green;
  transform: scale(1.2);
  transition: all 0.5s;
}

@media all and (max-width: 900px) {
  .side-bar {
    position: fixed;
    background-color: azure;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    border: 1px solid green;
    margin-left: 0%;
    padding-left: 0%;
    padding-right: 6%;
  }

  hr {
    margin-top: 100%;
    border: 2px solid green;
    width: 120%;
    /* border: 5px solid green;
    border-radius: 5px; */
  }

  .side-bar > h1 {
    position: fixed;
    color: rgb(18, 107, 18);
    font-size: 25px;
    top: 2;
    margin-left: 0.7%;
    margin-bottom: 0.4%;
  }
  .MuiSvgIcon-root {
    padding-left: 0%;
    margin: 0%;
    color: black;
    transform: scale(0.7);
  }
  .MuiSvgIcon-root:hover {
    color: green;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  .home-icon > h2 {
    margin-left: 0%;
    color: black;
    font-size: medium;
  }
  .home-icon {
    display: flex;
    padding-left: 0%;
    margin-left: 0%;
  }
}
